/*! Copyright @ Qian Yang pandachain731@gmail.com */

/*! navbar*/

body > div.navbar.navbar-default.navbar-fixed-top {
    background-color: transparent;
}

#topNav {
    float: none;
    margin: 0 auto;
    display: table;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

#title {
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: #03C9A9;
    font-family: 'Gloria Hallelujah', cursive;
}


#selfIntro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EC407A;
}

/*!end navbar-brand*/

#topNav > li.active > a {
    font-family: 'Gloria Hallelujah', Calibri, sans-serif;
    font-size: 26px;
    color: #EC407A;
}

#topNav > li > a {
    font-family: 'Gloria Hallelujah', Calibri, sans-serif;
    font-size: 26px;
    color: #757575;
}

.navbar-nav > li > a {
    font-family: 'Gloria Hallelujah', Calibri, sans-serif;
    color: #EC407A;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    font-family: 'Gloria Hallelujah', Calibri, sans-serif;
    color: #EC407A;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #EC407A;
    background-color: transparent;
}

a,
a:visited {
    text-decoration: none;
    color: #EC407A;
}

p {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 18px;
}

h1,
h2 {
    font-family: 'Gloria Hallelujah', Calibri, sans-serif;
    color: #03C9A9;
    text-align: center;
}

h3,
h4{
    font-family: Calibri, Verdana, sans-serif;
    color: #03C9A9;
}

.topspace {
    margin-top: 100px;
}

.middlespace {
    height: 40px;

}

.bottomspace {
    margin-bottom: 50px;
}

.bodywork {
    background: #03C9A9;

}

.exit {
    float: right;
    margin-right: 30px;
    margin-top:30px;
}


#home {
    height: 400px;
}

img.bio {
    float: none;
    margin: 0 auto;
    display: table;
}

/*!contentHover */
.contenthover {
    padding: 50px 20px 20px 50px;
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(3, 201, 169, .5);
    height: 100%;
    width: calc(100% - 30px);
    cursor: pointer;
}


.contenthover, .contenthover h4 {
    color: #000000;
    font-size:1.4em;
}

.contenthover h3, .contenthover p {
    margin: 0 0 10px 0;
    line-height: 1.4em;
    padding: 0;
}

.contenthover a {
    display: none;
}

/*Grasswork*/
.grass__back, .grass__medium, .grass__front {
    position: fixed;
    bottom: -2px;
    width: 100%;
    z-index: 10000;

}

@media (max-width: 600px) {
    .grass__back, .grass__medium, .grass__front {
        height: 8%;
    }
}

@media (min-width: 601px) and (max-width: 1100px) {
    .grass__back, .grass__medium, .grass__front {
        height: 14%;
    }
}

@media (min-width: 1101px) {
    .grass__back, .grass__medium, .grass__front {
        height: 18%;
    }
}

.grass__back {
    background: url("../img/grass-back.svg");
    -webkit-animation: grass linear 120s infinite alternate;
}

.grass__medium {
    background: url("../img/grass-medium.svg");
}

.grass__front {
    background: url("../img/grass-front.svg");
    -webkit-animation: grass linear 60s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes grass {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

#cloud1 {
    top: 700px;
    left: 0;
    width: 140px;
    height: 100px;
}

#cloud2 {
    top: 600px;
    left: -80px;
    width: 240px;
    height: 200px;
}

#cloud3 {
    top: 800px;
    left: 20px;
    width: 340px;
    height: 300px;
}

#cloud4 {
    top: 890px;
    left: -80px;
    width: 140px;
    height: 100px;
}

.cloud {
    position: absolute;
    z-index: -1;
    background: url("../img/cloud.svg") no-repeat;
    background-size: cover;
}

#home, #me {;
    background: transparent;

}

#works, #contact {
    background: transparent;
}

.works-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img img{
    width:100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

#appSlideshow{
    height:500px;
}

.carousel-indicators .active{
    background-color: #EC407A;
}

.carousel-indicators li{
    border: 1px solid #03C9A9;
}

ol.carousel-indicators{
    margin-bottom: -60px;
}

#sun{
    width:200px;
    height:200px;
    color:#F5D76E;
    background-color: #F5D76E;
    border-radius: 50%;
}

