/*! Copyright @ Qian Yang pandachain731@gmail.com */

/*! navbar*/

#topNav {
    float: none;
    margin: 0 auto;
    display: table;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 20px;
}

#title {
    padding: 0px;
    font-size: 40px;
    width: 300px;
    text-align: center;
    float: inherit;
    color: #03C9A9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #777;
}

/*!end navbar-brand*/

.navbar-nav > li > a {
    font-family: cursive;
    color: #BDC3C7;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    font-family: cursive;
    color: #03C9A9;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #03C9A9;
    background-color: #ffffff;
}

a,
a:visited {
    text-decoration: none;
    color: #03C9A9;
}

p {
    font-family: Calibri, Verdana, sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: cursive;
    color: #03C9A9;
}


.topspace {
    margin-top: 100px;
}

.middlespace {
    height: 40px;

}

.bodywork {
    background: #03C9A9;

}

.exit {
    float: right;
    margin-right: 30px;
}

#title {
    font-size: 24px;
    color: #03C9A9;
}

#home {
    height: 400px;
}

img.bio {
    float: none;
    margin: 0 auto;
    display: table;
}

/*!contentHover */
.contenthover {
    padding: 20px 20px 10px 20px;
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(3, 201, 169, .5);
    width: 250px;
    height: 200px;
}

.contenthover, .contenthover h4, .contenthover a {
    color: #000000;
}

.contenthover h3, .contenthover p {
    margin: 0 0 10px 0;
    line-height: 1.4em;
    padding: 0;
}

.contenthover a.mybutton {
    display: block;
    float: left;
    padding: 5px 10px;
    background: #F2784B;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.img img {
    width: 250px;
    height: 200px;
}

/*Grasswork*/
.grass__back, .grass__medium, .grass__front {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;

}

@media (max-width: 600px) {
    .grass__back, .grass__medium, .grass__front {
        height: 8%;
    }
}

@media (min-width: 601px) and (max-width: 1100px) {
    .grass__back, .grass__medium, .grass__front {
        height: 14%;
    }
}

@media (min-width: 1101px) {
    .grass__back, .grass__medium, .grass__front {
        height: 18%;
    }
}

.grass__back {
    background: url("../img/grass-back.svg");
    -webkit-animation: grass linear 120s infinite alternate;
}

.grass__medium {
    background: url("../img/grass-medium.svg");
}

.grass__front {
    background: url("../img/grass-front.svg");
    -webkit-animation: grass linear 60s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes grass {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


#cloud1{
    top:700px;
    left:0;
    width: 140px;
    height:100px;
}

#cloud2{
    top:600px;
    left:-80px;
    width: 240px;
    height:200px;
}

#cloud3{
    top:800px;
    left:20px;
    width: 340px;
    height:300px;
}

#cloud4{
    top:890px;
    left:-80px;
    width: 140px;
    height:100px;
}

.cloud{
    position: absolute;
    z-index: -1;
    background: url("../img/cloud.svg") no-repeat;
    background-size: cover;
}

