body {
    background: #fcf8f7;
    font-family: 'Roboto', sans-serif;
    margin:0;

}

.section{
    width:90%;
    margin:auto;
    color: #34495E;
}

.section h1{
    text-align: center;
    margin-top: 100px;
}
/* navbar */

#navbar{
    position:fixed;
    width:100%;
    top: 0;
    left: 0;
    z-index: 9999;
}


.navigation {
    background: #fcf8f7;
    list-style: none;
    margin: 0;
    padding:0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    width:80px;
    text-align: center;
    display: block;
    padding: 1em;
    font-size:1.2em;
    border-bottom: 1px solid transparent;
    color:#34495E;

}

.navigation a:hover {
    border-bottom: 1px solid #4ECDC4;

}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }

}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }

}

/* about */
#about {
    width:100%;
    margin-top:150px;
    text-align: center;
}

#about h1{
    text-align: center;
}
#header{
    width:100%;
    height: 130px;
    background: #4ECDC4;
    padding-top:15px;
}

#header h2{
    margin:5px;
    color: #F2F1EF;
    font-weight: 400;
}

#about p{
    border-bottom: 1px solid #4ECDC4;
    padding-bottom:10px;
}

/* projects */

.filter {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    padding-left:6px;
}

.filter p {
    padding: 5px 20px;
    background: #A2DED0;
    margin: 0 10px;

}

.selected {
    background: #4ECDC4 !important;
}

.hide {
    display: none;
}


.projects-container {
    padding: 0;
    margin-top:30px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.project-item {
    padding: 0;
    width: 250px;
    height: 350px;
    margin: 20px 15px;

    color: #34495E;
    font-weight: bold;
    text-align: center;
}


.project-img img{
    width: 250px;
    height: 150px;
}

.title{
    margin: 5px;
}

.des{
    margin:5px;
    padding:0 5px;
    font-weight: 400;
    text-align: left;
    height: 65px;
}

.tools{
    margin: 3px;
    padding:0 5px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    height: 38px;


}
.project-link{
    border-top: 1px solid #4ECDC4;
    padding-top:15px;
    margin: 10px 0 0 0;
    font-size: 1em;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

}


.project-link a{
    color: #34495E;
}

#contact{

}


#socialMedia {
    text-align: center;
}

#contact i{
    margin:20px;
}

#contact a{
    color: #4ECDC4;
}

.active{
    border-bottom: 1px solid #4ECDC4;
}

/*bubble animation*/

.row:nth-child(1){
    width:80%;
    margin:auto;
}

.row{
    margin-bottom: -30px;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#circles{
    margin:60px auto 0 auto;
    width: 60%;
    height:150px;
}

.bubble {
    width: 50px;
    height: 50px;
    border: 1px solid #4ECDC4;
    border-radius: 200px;

}

.x1{
    border-color:#F5D76E;
    transform: scale(0.9);
    -webkit-animation: moveclouds 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 30s linear infinite, sideWays 2s ease-in-out infinite alternate;

}

.x2 {
    border-color:#F64747;
    transform: scale(0.6);
    -webkit-animation: moveclouds 100s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 100s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 100s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    transform: scale(0.8);
    -webkit-animation: moveclouds 90s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 90s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 90s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    border-color:#E08283;
    transform: scale(0.75);
    -webkit-animation: moveclouds 80s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 80s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 80s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    border-color:#59ABE3;
    transform: scale(0.8);
    -webkit-animation: moveclouds 70s linear infinite, sideWays 100s ease-in-out infinite alternate;
    -moz-animation: moveclouds 70s linear infinite, sideWays 100s ease-in-out infinite alternate;
    -o-animation: moveclouds 70s linear infinite, sideWays 100s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 100px;
    }
    100% {
        top: -100px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0;
    }
    100% {
        margin-top:50px;
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: 100px;
    }

    100% {
        top: -100px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0;
    }
    100% {
        margin-top:50px;
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% {
        top: 100px;
    }
    100% {
        top: -100px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0;
    }
    100% {
        margin-top:50px;
        margin-left:50px;
    }
}


#randomFact{
    margin:auto;
    width: 50%;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: center;
    padding: 20px;

}

#randomFact p{
    font-size: 20px;
}


#contact div:nth-child(3) p{
    margin-top: 50px;
    text-align: center;
}

.footer{
    text-align: center;
    width:300px;
    margin:80px auto 50px auto;
}

