
.thumbnail{
    background-color: transparent;
}
#previewWindow img{
    margin:auto;
    display:block;
}

#right{
    height:100px;
}

.alert{
    width:120px;
    display:inline-block;
}

.thumbnail .caption{
    padding:0;
    line-height: 0;
}

.thumbnail p{
    text-align: center;
}


@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

#banner1{
    background-color: #455A64;
    height:100px;
}

#banner2{
    height:100px;
    background-color: #37474F;
    margin-left: -30px;
}

#banner0{
    background-color: #546E7A;
    height:100px;
    margin-right: -30px;
}

#left{
    background-color:#FFAB40;
    height: 100px;
}

#middle{
    background-color:#03A9F4;
    height: 100px;
}

#right{
    background-color:#9575CD;
    height: 100px;
}

@media (max-width: 600px) {
    #left, #middle, #right {
        height: 10px;
    }
}

#hub, #overview{
    padding-left:0;
    padding-right: 0;
}


.navbar .nav > li > a {
    text-align: center;
    font-size:18px;
    line-height: 35px;
    padding: 9px 10px 11px;
    text-decoration: none;
    border-radius: 0px;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color:#ffffff;
    font-size:18px;
    line-height: 35px;
    padding: 9px 10px 11px;
    text-decoration: none;
    background-color:#8BC34A;
    border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color:#8BC34A ;
    color:#ffffff;
}

.btn-default{
    border-color:#ffffff;
}


#overviewSearch{
    position:relative;
    float:right;
    width:25%;
    top: 5px;
    margin-bottom: auto;
    vertical-align: middle;

}

.form-control{
    height:28px;
    border-radius: 0;
}

.panel-default{
    border-color: #ffffff;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border-top: 0px;
}

.btn-info,.btn-danger,.btn-warning,.btn-success{
    width:100%;
    border-radius: 0;
}

#editArea >.row >.col-md-3{
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.alert{
    margin-bottom:1px;
    padding-top:6px;
    margin-right: 5px;
    border-radius: 0;
    background-color: #FFF59D;
    color:#000000;
    height:35px;
}

#recentAdd{
    margin-top:3px;
    float: right;
}

.btn-recent{
    background-color: #616161;
    border-color: #616161;;
}

#leftControl,#rightControl{
    vertical-align: middle;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#leftControl{
    left:100px;
}

#green{
    margin-left:-30px;

}

#merge{
    margin-top: -50px;
    background-color: #03C9A9;
    border-radius: 0;
    width: 200px;
}